html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Inter, Roboto, sans-serif;
}

section {
  padding: 1rem;
}

li {
  list-style: none;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: #F55800;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3E3C3C;
  color: aliceblue;
  padding-left: 1rem;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
  color: aliceblue;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 10px;
}

.introduction {
  background-color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro {
  padding-top: 10%;
}

.intro h5 {
  font-family: "Crete Round";
  font-size: 72px;
  line-height: 81px;
  color: #F55800;
}

.intro h6 {
  font-family: Inter;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.intro p,
.intro li {
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
}

.intro-ul {
  padding-top: 20%;
}

.background-img {
  width: 40%;
}

.intro-mobile {
  display: none;
}

.portafolio {
  padding: 1rem;
}

.geom {
  max-width: 20%;
  margin-left: 10%;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.separator h2 {
  font-family: "Crete Round";
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
}

.principal-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.project-image {
  width: 60%;
  border: 3rem solid #071020;
}

.project-image img {
  width: 99.99%;
}

.project-text {
  width: 30%;
  padding: 1rem;
}

.project-text h3 {
  font-family: "Crete Round";
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
}

.project-text p {
  font-family: Inter;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #091E42;
}

.project-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  font-family: Inter;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #091E42;
}

.project-text ul li {
  border: 1px solid #071020;
  padding: 1%;
  margin: 0.5%;
}

.project-text a {
  background-color: #F55800;
  padding: 2%;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.project-text a:hover {
  color: aliceblue;
  border: 1px solid #071020;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  margin: 1rem;
}

.p-image {
  margin: 1rem;
}

.p-image-1 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/html-cap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.p-image-2 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/Captura-telegram.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.p-image-3 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/Captura-telegram.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.p-text {
  padding-top: 5rem;
  margin: 1rem;
  color: aliceblue;
}

.p-text h3 {
  font-family: "Crete Round";
  font-size: 32px;
  line-height: 44px;
}

.p-text p {
  font-family: Inter;
  font-size: 17px;
  line-height: 24px;
}

.p-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-text li {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.p-text h4 {
  display: none;
}

.p-text:hover h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F55800;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .background-img {
    display: none;
  }
  .intro-ul {
    display: none;
  }
  .intro-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .principal-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-image {
    width: 90%;
    max-width: 768px;
    border: 1rem solid #071020;
  }
  .project-text {
    width: 90%;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
  }
}
/*# sourceMappingURL=style.css.map */