$white-letter: aliceblue;
$background-nav: #3E3C3C;

html {
    box-sizing: border-box;
    font-family: Inter, Roboto, sans-serif;    
    font-style: normal;
  }
  
section {
  padding: 1rem;
}

  li {
    list-style: none;
    
  }

  a {
    color: $white-letter;
  }
  
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: $background-nav;
    color: $white-letter;
    padding-left: 1rem;

}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    color: $white-letter;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: $white-letter;
    border-radius: 10px;
}
  
  .introduction {
    background-color: black;
    height: fit-content;
    color: $white-letter;
    display: flex;
    justify-content: space-between;
    
  }



  .intro {
    padding-top: 10%;

    h5 {
    font-family: "Crete Round";  
    font-size: 72px;
    line-height: 81px;
    color: #F55800;
    }
    h6 {
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    }
    p, li {
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    }


  }
.intro-ul {
  padding-top: 20%;
}
  .background-img {     
      width: 40%;   
            
  }
   .intro-mobile{
      display: none;
   }
  
.portafolio {
  padding: 1rem;
}

.geom {
  max-width: 20%;
  margin-left: 10%;
}
.separator{
  display: flex;
 align-items: center;
}

 
  @media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .background-img {     
      display: none;   
            
  }


  .intro-ul {
    display: none;
  }

  .intro-mobile{
    display: flex;
    justify-content: space-evenly;
    
  }

}

