$white-letter: aliceblue;

html {
    box-sizing: border-box;
    font-family: Inter, Roboto, sans-serif;    
    font-style: normal;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    // background-color: black;
  }

  li {
    list-style: none;
    
  }

  a {
    color: $white-letter;
  }
  
  nav {
    width: 100%;
    background: #3E3C3C;
    color: $white-letter;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 15%;

    h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    }

    a {
        
        padding-left: 10%;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
    }

    ul {
      display: flex;
      margin-right: 5%;
    }
     li {
       display: flex;
       align-items: center;
       text-align: center;
     }
  }
  
  .introduction {
    background-color: black;
    height: fit-content;
    color: $white-letter;
    display: flex;
    justify-content: space-between;
  }

  .intro {
    padding-top: 10%;

    h5 {
    font-family: "Crete Round";  
    font-size: 72px;
    line-height: 81px;
    color: #F55800;
    }
    h6 {
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    }
    p, li {
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    }


  }
.intro-ul {
  padding-top: 20%;
}
  .background-img {     
      width: 40%;   
            
  }
  
 
   
  
 
  

